/*------------------------------------- 
    Author: Ravi Suhag
    Created on 19 Dec 2013
-------------------------------------*/
 @import url('layout.css');
 @import url('module.css');
  @import url('responsive.css');

/*-------------------[ Global Rules ]------------------*/
 body {
  margin-top: 72px
}
/*-------------------[ Brand Colors ]------------------*/
 .orange-text {
  color: rgb(245, 134, 52);
}
.darkgrey-text {
  color: rgb(101, 107, 108);
}
.green-text {
  color: rgb(106, 151, 63);
}
.lightgrey-text {
  color: rgb(137, 139, 141);
}
.yellow-text {
  color: rgb(250, 201, 74);
}
.orange-bg {
  background-color: rgb(245, 134, 52);
}
.darkgrey-bg {
  background-color: rgb(101, 107, 108);
}
.green-bg {
  background-color: rgb(106, 151, 63);
}
.lightgrey-bg {
  background-color: rgb(137, 139, 141);
}
.yellow-bg {
  background-color: rgb(250, 201, 74);
}
/*-------------------[ Helper Classes ]------------------*/
 .m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-40 {
  margin-top: 40px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.p-t-40 {
  padding: 40px;
}
/*-------------------[ Headings ]------------------*/
 .mainheading {
  font-size: 38px;
  font-weight: normal;
  color: rgb(101, 107, 108);
  margin-top: 0;
}
.dotted-seperator {
  border-top: dashed 1px #ddd;
}
.headingtext {
  margin: 0 auto 40px;
  font-size: 18px;
  color: #444;
  text-align: center;
  display: block;
  max-width: 700px;
  padding: 0 10px;
  line-height: 30px;
  font-weight: normal;
}
a:focus {
  outline: thin dotted;
  outline: 2px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
