.br-nav{
	background: #f5f5f5;
	border-bottom: 1px solid #f0f0f0;
	color: #444;
	padding: 10px;
	box-shadow:0 2px 12px rgba(0, 0, 0, 0.3);
}
.br-nav .navbar-brand{
  padding: 0px;
}
.br-nav .logo{
  height: 60px
}
.br-nav .navbar-nav > li > a {
  color: #E85272;
}
.br-nav .navbar-nav > li > a:hover,
.br-nav .navbar-nav > li > a:focus  {
  color: #78a30B;
}
.br-nav .navbar-nav > .active > a,
.br-nav .navbar-nav > .active > a:hover,
.br-nav .navbar-nav > .active > a:focus {
  color: #78a30B;
  background-color: transparent;
}
.br-nav .navbar-toggle {
  border-color: transparent;
}
.br-nav .navbar-toggle:hover {
  background-color: transparent;
  border-color: #f5f5f5;
}
.br-nav .navbar-toggle .icon-bar {
	background-color: #E85272;
}
.br-nav .navbar-toggle:hover .icon-bar {
	background-color: #c83252;
}
