/*-------------------[ Top Navbar ]------------------*/
 .br-nav {
  background: #f5f5f5;
  border-bottom: 1px solid rgb(215, 104, 22);
  color: #444;
  padding: 10px;
  box-shadow:0 2px 12px rgba(0, 0, 0, 0);
}
.br-nav .navbar-brand {
  padding: 0;
}
.br-nav .logo {
  height: 55px
}
.br-nav .navbar-nav > li > a {
  color: rgb(101, 107, 108);
  font-size: 15px
}
.br-nav .navbar-nav > li > a:hover, .br-nav .navbar-nav > li > a:focus {
  color: rgb(106, 151, 63);
}
.br-nav .navbar-nav > .active > a, .br-nav .navbar-nav > .active > a:hover, .br-nav .navbar-nav > .active > a:focus {
  color: rgb(106, 151, 63);
  background-color: transparent;
  font-weight: 500;
}
.br-nav .navbar-toggle {
  border-color: transparent;
}
.br-nav .navbar-toggle:hover {
  background-color: transparent;
  border-color: #f5f5f5;
}
.br-nav .navbar-toggle .icon-bar {
  background-color: #E85272;
}
.br-nav .navbar-toggle:hover .icon-bar {
  background-color: #c83252;
}
.bg-nav-btn {
  margin-left: 10px
}
@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
}
/*-------------------[ Home: Jumbotron ]------------------*/
 .br-jumbotron {
  min-height: 100px;
  background-image: url(../img/noise-o.png);
  padding: 20px 0;
  text-align: center;
  color: #fff;
}
.br-jumbotron .heading {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  font-size: 55px;
  color:#eee;
  padding-top: 5px;
  padding-bottom: 10px;
}
.br-jumbotron span {
  color: #333;
  font-size: 24px;
}
.search-box .wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 40px 0 20px;
}
.search-box .wrap .search-input {
  border:solid 2px rgb(185, 74, 2);
  height: 55PX;
  box-shadow: none;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 200;
  letter-spacing:1px;
  border-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-box .wrap .search-input:focus {
  -webkit-box-shadow:none;
  box-shadow: none;
}
.search-box .wrap button {
  height: 55px;
  border:solid 2px rgb(185, 74, 2);
  border-left: solid 1px #eee;
  border-radius: 10px;
  border-bottom-left-radius: 2px !important;
  border-top-left-radius: 2px 2px !important;
  min-width: 100px
}
.search-box .input-group-btn > .btn-default:hover,
.search-box .input-group-btn > .btn-default:focus, 
.search-box .input-group-btn > .btn-default:active, 
.search-box .input-group-btn > .btn-default.active, 
.search-box .input-group-btn > .open .dropdown-toggle.btn-default {
  border-color: rgb(185, 74, 2) !important;
}
/*-------------------[ Home : Products ]------------------*/
 .home-products {
  margin-top: 40px;
}
.home-box {
  border-radius: 6px;
  border:solid 1px #ddd;
  min-height: 270px;
  padding: 15px;
  background-image: url('../img/noise.png');
  margin-bottom: 10px
}
.home-box:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  transition-duration:0.2s;
}

.home-box .domain-pricing-box{
  text-align: center;
}
.home-box .domain-pricing-box img{
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}
/*-------------[ Footer ]-------------------*/
 footer {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  background-color: #f7f7f7;
  border-bottom: 0;
  font-size: 11px;
  color: #8789ae;
  padding: 15px 30px
}
footer li, footer ul {
  display: inline-block;
  margin-bottom: 0
}
footer a {
  color:#8789ae;
  padding: 0 10px
}
footer a:hover {
  text-decoration: none;
}

/*-------------[ Search : Search Bar ]----------*/
 .domain-search {
  padding: 40px 0;
  background-color: #eee;
  background-image: url('../img/noise.png');
  border-bottom:solid 1px #ddd;
}
.search-wrap {
  max-width: 500px;
  margin:0 auto;
}
.domain-box {
  padding:10px;
  border-bottom: dashed 1px #ddd;
  font-size: 20px;
  color: rgb(101, 107, 108);
}
.domain-box img {
  width: 50px;
  padding-right:10px;
}
.domainpage-search-box {
  margin-bottom: 20px
}
.domainpage-search-box .wrap input {
  border:solid 1px #c8c3c0;
  height: 55PX;
  box-shadow: none;
  border-radius: 6px;
  font-size: 22px;
  font-weight: 200;
  letter-spacing:1px;
  border-right: 0px
}
.domainpage-search-box .wrap input:focus {
  -webkit-box-shadow:none;
  box-shadow: none;
}
.domainpage-search-box .wrap button {
  height: 55px;
  border:solid 1px #c8c3c0;
  border-left: solid 1px #eee;
  border-radius: 6px;
  border-bottom-left-radius: 2px !important;
  border-top-left-radius: 2px 2px !important;
  min-width: 150px
}


/*-------------[ Checkout : Cart-domain-box]----------*/
.checkout-wrap{
  padding: 15px 15px 0;
}
.cart-domain-box{
  border:dashed 1px #ddd;
  min-height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fefefe
}
.cart-domain-box h3{
  font-size: 22px;
  font-weight: normal;
  margin: -7px 0 6px;

}
.cart-domain-box h3 img{
  height: 44px
}
.cart-domain-box a.remove{
  float: right;
  margin-bottom: -10px
} 
.cart-domain-box a .glyphicon-remove-circle{
  font-size: 20px;
  color: #999
}
.cart-domain-box a .glyphicon-remove-circle:hover{
  color: #000;
}
.cart-domain-box .price{
  font-size: 25px;
  color: #666;
  horizontal-align: right;
  vertical-align: bottom;
  padding:0;
}
.pricing{
    width: 100%;
}
.pricing td{
  text-align: right;
  height: 30px
}
.pricing .total{
  font-size: 20px;
  line-height: 40px;
  border-top: solid 1px #ddd;
}































