<div class="container p-t-40">
  <div class="row">
    <div class="col-md-9">
      <div class="content-box dash-main">
        <div class="h-header">
          Order Summary
        </div>
        <div class="checkout-wrap">
          <div class="cart-domain-box">
            <a class="remove" href="">
              <span class="glyphicon glyphicon-remove-circle "></span>
            </a>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-6">
                <h3>
                  <img src="assets/img/icon.png" alt="">inspirationedge.com</h3>
              </div>
              <div class="col-md-6">
                <select name="" id="" class="selectpicker">
                  <option value="1">1 year for 299 Rs.</option>
                  <option value="1">2 year for 599 Rs.</option>
                  <option value="1">3 year for 799 Rs.</option>
                  <option value="1">4 year for 999 Rs.</option>
                </select>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="text-info">
                  Free Add-ons<br>
                  <img style="padding-top:10px" src="assets/img/addon.png" alt="">
                </p>
              </div>
              <div class="col-md-6 text-right text-small">
                <div class="price">Rs 500</div>
                <span class="label label-success">You saved 20%</span>
              </div>
            </div>
          </div>

          <div class="cart-domain-box">
            <a class="remove" href="">
              <span class="glyphicon glyphicon-remove-circle "></span>
            </a>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-6">
                <h3>
                  <img src="assets/img/icon.png" alt="">ravisuhag.com</h3>
              </div>
              <div class="col-md-6">
                <select name="" id="" class="selectpicker">
                  <option value="1">1 year for 299 Rs.</option>
                  <option value="1">2 year for 599 Rs.</option>
                  <option value="1">3 year for 799 Rs.</option>
                  <option value="1">4 year for 999 Rs.</option>
                </select>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="text-info">
                  Free Add-ons<br>
                  <img style="padding-top:10px" src="assets/img/addon.png" alt="">
                </p>
              </div>
              <div class="col-md-6 text-right text-small">
                <div class="price">Rs 500</div>
                <span class="label label-success">You saved 20%</span>
              </div>
            </div>
          </div>
        </div>

        <div class="h-strip-footer">
          <div class="row">
            <div class="col-md-8">
              <form class="form-inline" role="form">
                <label  for="exampleInputEmail2">Got Coupon Code ?</label><br>
                <div class="form-group">
                  <input type="text" class="form-control" >
                </div>
                <button type="submit" class="btn btn-default">Apply</button>
              </form>
            </div>
            <div class="col-md-4">
              <table class="pricing">
                <tr>
                  <td>Subtotal:</td>
                  <td>Rs. 299</td>
                </tr>
                <tr>
                  <td>Tax:</td>
                  <td>0</td>
                </tr>
                <tr class="total">
                  <td>Total Amount:</td>
                  <td>Rs 149</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="content-box dash-main m-t-20">
        <div class="h-header">
          Select Your Payment Method
        </div>
        
        <div class="domain-box">
          <div class="row">
            <div class="col-md-8">
              <img src="assets/img/pay/debit.gif" alt="">Net Banking
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="0" selected="true">Select bank</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-8">
              <img src="assets/img/pay/debit.gif" alt="">Debit Cards
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="0" selected="true">Select bank</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-8">
              <img src="assets/img/pay/debit.gif" alt="">VISA / MasterCard Credit Cards
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="0" selected="true">Select bank</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-8">
              <img src="assets/img/pay/debit.gif" alt="">Paypal [Amex/Discover Credit Cards/ Paypal account]
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="0" selected="true">Select bank</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-8">
              <img src="assets/img/pay/cheque.png" alt="">Pay via Cheque/Demand Draft/Direct Deposit
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="0" selected="true">Select bank</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-8">
              <img src="assets/img/pay/account.png" alt="">Pay via Account Balance
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="0" selected="true">Select bank</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
          </div>
        </div>
        <div class="h-strip-footer">
          <a href="" class="btn btn-success btn-lg pull-right">Pay Now</a>
          <p class="lead">Total Amount Rs. 500</p>

        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="sidebar">
        <div class="cart-wrap">
          <div class="pic">
            <span class="glyphicon glyphicon-phone-alt"></span>
          </div>
        </div>
        <ul class="nav nav-pills nav-stacked striped">
          <li>
            <a href="" class="pull-right">
            </a>Contact Us- 022-3079 7900
          </li>
          <li>
            <a href="" class="pull-right">
            </a>Start live Chat
          </li>
        </ul>
        <span class="strip-footer">
          <a href="#/search" class="btn btn-success btn-block btn-lg">Buy More</a>
        </span>
      </div>
    </div>
  </div>
</div>
