<!-- <div class="domain-search">
  <div class="search-wrap">
    <div class="input-group">
      <input type="text" class="form-control input-lg" placeholder="Enter your domain">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">.net<span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><
    </div>
  </div>
</div> -->





<div class="container p-t-40">
  <div class="row">
    <div class="col-md-9">
      <ul class="nav nav-pills filter-pills">
        <li><a class="" href="#">All</a>
        </li>
        <li><a href="#">Recommended</a>
        </li>
        <li><a href="#">Premium</a>
        </li>
        <li class="active"><a class="" href="#">Search Again</a>
        </li>
      </ul>

      <div class="alert alert-success">
        <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
        You have 2 items in your cart
      </div>

      <div class="content-box dash-main">
        <div class="h-header">
          Domains you searched for are
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-5">
              <img src="assets/img/icon.png" alt="">inspirationedge.com
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-5">
              <img src="assets/img/icon.png" alt="">inspirationedge.com
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="sidebar">
        <div class="cart-wrap">
          <div class="pic">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </div>
        </div>
        <ul class="nav nav-pills nav-stacked striped">
          <li class="strip-unlinked">
            <span class="pull-right glyphicon glyphicon-remove-circle"></span>ravisuhag.com
          </li>
          <li class="strip-unlinked">
            <span class="pull-right glyphicon glyphicon-remove-circle"></span>emcodesigner.net
          </li>
        </ul>
        <span class="strip-footer">
          <a class="btn btn-success btn-block btn-lg">Checkout</a>
        </span>
      </div>
    </div>
  </div>
</div>
