<div class="br-jumbotron orange-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="heading">India's #1 destination for Websites</h1>
        <span>Domain Registration, Web Hosting, Website Design and more</span>
        <div class="search-box">
          <div class="wrap">
            <form ng-submit="formsubmit()">
              <div class="input-group">
                <input type="text" class="form-control search-input" placeholder="Enter your domain">
                <input type="submit" style="height:0px; width:0px; border:0px; padding:0px; margin:0px">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">.net
                    <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-form pull-right">
                    <div class="domain-selector">
                      <h6>Popular Extensions</h6>
                      <div class="d-row">
                        <a href="" class="btn btn-default btn-xs " role="button">net</a>
                        <a href="" class="btn btn-default btn-xs " role="button">com</a>
                        <a href="" class="btn btn-default btn-xs " role="button">org</a>
                        <a href="" class="btn btn-default btn-xs active" role="button">biz</a>
                        <a href="" class="btn btn-default btn-xs " role="button">in</a>
                        <a href="" class="btn btn-default btn-xs " role="button">pw</a>
                        <a href="" class="btn btn-default btn-xs " role="button">co.in</a>
                        <a href="" class="btn btn-default btn-xs " role="button">me</a>
                      </div>
                      <h6>More Extensions</h6>
                      <div class="d-row">
                        <a href="" class="btn btn-default btn-xs " role="button">co</a>
                        <a href="" class="btn btn-default btn-xs " role="button">info</a>
                        <a href="" class="btn btn-default btn-xs " role="button">name</a>
                        <a href="" class="btn btn-default btn-xs active" role="button">mobi</a>
                        <a href="" class="btn btn-default btn-xs " role="button">tv</a>
                        <a href="" class="btn btn-default btn-xs " role="button">ws</a>
                        <a href="" class="btn btn-default btn-xs " role="button">bz</a>
                        <a href="" class="btn btn-default btn-xs " role="button">cc</a>
                      </div>
                      <div class="d-row">
                        <a href="" class="btn btn-default btn-xs " role="button">net.in</a>
                        <a href="" class="btn btn-default btn-xs " role="button">org.in</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container home-products m-t-40">
  <div class="row">
    <div class="col-md-6">
      <div class="home-box">
        <h1 class="mainheading">Get a
          <span class="orange-text">Domain Name</span>
        </h1>
        <p class="lead">
          Includes 2 FREE! Email Accounts and Privacy Protection
        </p>

        <div class="domain-pricing-box">
            <img src="assets/img/domainprice.png" class="dprice" alt="">
        </div>
        <a href="#" class="btn btn-success btn-lg">
            Get Now
          </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="home-box">
        <h1 class="mainheading">Buy
          <span class="orange-text">Hosting</span>
        </h1>
        <img class="pull-right" src="assets/img/server.png" alt="">
        <p class="lead">Affordable. Reliable. Secure.</p>
        <ul>
          <li>Unlimited Domains, Email & Space</li>
          <li>99.9% Uptime and 24x7 Support</li>
          <li>30 Day Money Back Guarantee</li>
          <li>Easy to use Control Panels</li>
        </ul>
        <a href="#" class="btn btn-success btn-lg">
            View plans
          </a>
      </div>
    </div>
  </div>
</div>


<!-- <section class="m-t-20">
  <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item">
        <img src="assets/img/avatar.png">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div src="assets/img/avatar.png" class="item">
        <img>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="item active">
        <img src="assets/img/avatar.png">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</section> -->


<div class="dotted-seperator m-t-40"></div>
<section class="container block featured-advertisers">
  <h1 class="mainheading text-center">You are in a good company</h1>
  <h5 class="headingtext">Join 100s of the world's most popular brands who rely on our platform.</h5>
  <div class="row">
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="thumbnail">
        <img src="assets/img/clients/fiat.jpeg" alt="">
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="thumbnail">
        <img src="assets/img/clients/adi.jpeg" alt="">
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="thumbnail">
        <img src="assets/img/clients/wb.jpeg" alt="">
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="thumbnail">
        <img src="assets/img/clients/hp.jpeg" alt="">
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="thumbnail">
        <img src="assets/img/clients/zee.jpeg" alt="">
      </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <div class="thumbnail">
        <img src="assets/img/clients/kotak.jpeg" alt="">
      </div>
    </div>
  </div>
</section>


<footer>
  <ul class="pull-right">
    <li><a href="#">Terms</a>
    </li>
    <li><a href="#">Privacy Policy</a>
    </li>
    <li><a href="#">Sitemap</a>
    </li>
    <li><a href="#">Contact</a>
    </li>
  </ul>
  Copyright 2013 © Big Rock
</footer>
