<nav class="navbar navbar-default navbar-fixed-top br-nav" role="navigation">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#">
        <img class="logo" src="assets/img/BR-logo.png" alt="Big Rock">
      </a>
    </div>
    <div class="navbar-header pull-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#br-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button type="button" class="btn btn-info navbar-btn pull-right bg-nav-btn">
        My Account
      </button>
      <button type="button" class="btn btn-success navbar-btn pull-right">
        Cart
        <span class="badge">2</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="br-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="">Get a Domain</a>
        </li>
        <li><a href="#">Get Hosting</a>
        </li>
        <li><a href="#">Get a VPS</a>
        </li>
        </li>
        <li><a href="#">Build a Website</a>
        </li>
        <li><a href="#">Get Email</a>
        </li>
        <li><a href="#">Partner with us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
