<div class="container p-t-40">
  <div class="row">
    <div class="col-md-9">
      <div class="domainpage-search-box">
        <div class="wrap">
          <form ng-submit="expression">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="search.text" placeholder="Search again">
              <input type="submit" style="height:0px; width:0px; border:0px; padding:0px; margin:0px">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">.net
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-form pull-right">
                  <div class="domain-selector">
                    <h6>Popular Extensions</h6>
                    <div class="d-row">
                      <a  extension href="" class="btn btn-default btn-xs " role="button">net</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">com</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">org</a>
                      <a  extension href="" class="btn btn-default btn-xs active" role="button">biz</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">in</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">pw</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">co.in</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">me</a>
                    </div>
                    <h6>More Extensions</h6>
                    <div class="d-row">
                      <a  extension href="" class="btn btn-default btn-xs " role="button">co</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">info</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">name</a>
                      <a  extension href="" class="btn btn-default btn-xs active" role="button">mobi</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">tv</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">ws</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">bz</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">cc</a>
                    </div>
                    <div class="d-row">
                      <a  extension href="" class="btn btn-default btn-xs " role="button">net.in</a>
                      <a  extension href="" class="btn btn-default btn-xs " role="button">org.in</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>


     <!--  <div class="alert alert-success">
        <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
        You have 2 items in your cart
      </div> -->
      
      <div ng-show="nosearch" class="alert alert-success">
        <a class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
        You have not searched for any domain. Please Search for your domain above
      </div>

      <div ng-hide="nosearch" class="content-box dash-main">
        <div class="h-header">
          Domains you searched for are
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}.com
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}.in
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}.org
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}.me
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/no-domain.png" alt="">{{search.text}}.in
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker" disabled="true">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-default" disabled="true">Not Avaliable</a>
            </div>
          </div>
        </div>
      </div>
      <div class="content-box dash-main m-t-20">
        <div class="h-header">
          Suggested Domains
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}-hello.com
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}-rock.net
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">hi-{{search.text}}.in
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}.com
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="content-box dash-main m-t-20">
        <div class="h-header">
          Premium Domains
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}Rock.com
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}BigRock.com
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}MyRock.com
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="domain-box">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/icon.png" alt="">{{search.text}}ROD.in
            </div>
            <div class="col-md-4">
              <select name="" id="" class="selectpicker">
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
                <option value="1">1 year for 299 Rs.</option>
              </select>
            </div>
            <div class="col-md-2">
              <a href="" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="sidebar">
        <div class="cart-wrap">
          <div class="pic">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </div>
        </div>
        <ul class="nav nav-pills nav-stacked striped">
          <li>
            <a href="" class="pull-right">
              <span class=" glyphicon glyphicon-remove-circle"></span>
            </a>ravisuhag.com
          </li>
          <li>
            <a href="" class="pull-right">
              <span class=" glyphicon glyphicon-remove-circle"></span>
            </a>emcodesigner.net
          </li>
        </ul>
        <span class="strip-footer">
          <a href="#/checkout" class="btn btn-success btn-block btn-lg">Checkout</a>
        </span>
      </div>
    </div>
  </div>
</div>
